#datepicker-ui
{
    margin-top: 10px;
}

#datepicker-ui td
{
    padding-right: 10px;
    vertical-align: middle;
}

#datepicker
{
    background-color: #5e94ff;
    color: white;
    font-size: 2em;
    font-weight: bold;
    height: 2em;
    text-align: center;
    width: 12em;
    
    border:solid 1px #5e94ff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#prevDayArrow
{
    cursor: pointer;
}

#nextDayArrow
{
    cursor: pointer;
}

#itinerary
{
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    width: 220px;
}

.itinerary-cell
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.itinerary-game
{
    height: 80px;
    text-align: center;
    width: 220px;
}

.itinerary-game-team-cell
{
    display: inline;
}

.itinerary-game-at-cell
{
    position: relative;
    top: -50%;
    width: 10px;
}


.info-window-game
{
    height: 80px;
    text-align: center;
    width: 220px;
}



.select-game-link, .remove-game-link
{
    text-align: right;
}
